form{
    width: 90%;
    margin: 0 auto;
    background-color: white;
    height: 120px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .5);
    border-radius: 1rem;
    transform: translate(0%, -40%);
    margin-top: 1rem;
}

input[type="text"]{
    text-align: center;
    border: none;
    width: 60%;
    margin: 0 auto;
    display: block;
    padding-top: 1rem;
    font-size: 1.5rem;
    line-height: 1rem ;
    border: none;
    outline: none;
    margin-bottom: 0.4rem;
}

form button{
    width: 150px;
    margin: 0 auto;
    padding: .5rem;
    background-color: #e5685a;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 1rem;
    box-shadow: 2px 2px 20px #e5685a, -2px -2px  #e5685a;
    transition: all 0.5s ease;
}
form button:hover{
    cursor: pointer;
    background-color: #dd4f3f;
}
.underline{
    width: 60%;
    background-color: black;
    height: 1px;
    margin: 0 auto;
    margin-bottom: 1rem;
}