td {
    padding: 0.5rem;
    line-height: 1.4rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    width: 30%;
}
.items{
    width: 100%;
}

.pending,
.complete {
    border: none;
    padding: 0.3rem;
    color: white;
    width: 80px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #9ac0bc;
    cursor: pointer;
    transition: all 0.6s ease;
}

.complete {
    background-color: green;
}
.complete:hover{
    background-color: rgb(8, 85, 8);
}
.pending {
    background-color: #9ac0bc;
}
.pending:hover{
    background-color: #6e8c88;
}

.completed {
    width: 100px;
}


.basura {
    border-radius: 50%;
    border: none;
    transition: all 0.5s ease;
}

.basura:hover {
    cursor: pointer;
}

.basura img {
    box-shadow: 2px 2px 2px #e94f3d;
    border-radius: 50%;
}