table {
  width: 100%;
  margin: 0 auto;
  background-color: white;
  height: 120px;
  margin-bottom: 1rem;
  overflow: hidden;
  border-collapse: separate;
  border-spacing: 0 10px;
  transform: translate(0%, -5%);
  border-radius: 1rem;
}
h2 {
  text-align: left;
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
  width: 100%;
  margin: 0 auto;
}
.subTitle{
  height: 6vh;
}
table th {
  background-color: #f9f8f8;
  width: 100%;
  padding: 1rem;
  color: gray;
  padding-right: 3rem;
}
.box{
  box-shadow: 1px 0px  10px rgba(0, 0, 0, 0.3);
  border-radius: 1rem; 
  background-color: white;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2rem;
  
}
/*box-shadow: 1px 1px  10px rgba(0, 0, 0, 0.3);*/
.list {
  width: 25%;
}
.scroll{
  width:100%;
  max-height: 60vh; 
  overflow-y: auto; 
}