@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body{
  background-color: #f5f1f0;
}
@media (max-width: 480px) {
  body{
    width: 95%;
    margin: 0 auto;
  }
}